.alert {
	width: fit-content;
	border: 0;
	border-radius: 1rem;
	color: var(--COLOR-WHITE);
	cursor: default;
	font-weight: 500;
	padding: 1.2rem 1.5rem;
	text-align: left;
	position: absolute;
	top: 10rem;
	right: 1.5rem;
	z-index: var(--z-index-2);
}

.alert i {
	color: var(--COLOR-WHITE);
	font-size: 1.5rem;
}

.alert--danger {
	background-color: #c84949;
	border: 0;
}
